@import url("https://srnd.org/assets/fonts/avenir-next.css");
.book-header h1 {
    opacity: 1 !important;
    font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    color: #3F97CC;
}
.pull-right.js-toolbar-action { display: none }
.page-inner section h1 {
    font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}
.page-inner section h2 {
 font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 font-size: 1em;
}